/*
	Author: Lester
	Theme:  POS Web APP
	version:  1.0;
*/

/* CSS for All */
*{
	margin: 0 0;
	padding: 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* CSS for header (including the navbar) */
header img {
	height: 100px;
	margin-left: 40px;
}

header {
	/* border: 1px solid blue; */
	background-color: whitesmoke;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100px;
	display: flex;
	align-items: center;
	box-shadow: 0 0 25px 0 black;
	/* overflow: hidden; */
	z-index: 10;
}

/* CSS for Order Now button */
.order-btn {
	position: absolute;
	top: 30%;
	right: 16px;
	font-size: 18px;
	color: white;
}

header * {
	display: inline;
}

header li {
	margin: 20px;
}

header li a {
	color:black;
	font-size: large;
	text-decoration: solid;
}

/* END CSS for header (including the navbar) */

body {
	height: 125vh;
	margin-top: 80px;
	padding: 30px;
}

/* CSS for Food Search Section */
.food-search{
	position: relative;
	background-image: url(../images/cover_page.jpeg);
	/* background-size: contain; */
	/* background-repeat: no-repeat; */
	background-position: center;
	justify-content: center;
	/* width: auto;
	height: 100%; */
	align-items: center;
	padding: 5% 0;
}
.food-search::before{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.25);
}

.food-search input[type="search"]{
	position: relative;
	width: 50%;
	padding: 1%;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
}
.food-search submit{
	position: relative;
	width: 50%;
	padding: 1%;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
}
/* End CSS for Food Search Section */


.container{
	/*use for checking container */
	border: 1px solid red;
	width: 80%;
	margin: 0 auto;
	padding: 1%;
}

.img-responsive{
	width: 100%;
}

.img-curve{
	border-radius: 30px;
}

.text-right{
	text-align: right;
}

.text-center{
	text-align: center;
}

.text-white{
	color: white;
}

.clearfix{
	clear: both;
	float: none;
}

a{
	color: #ff7675;
	text-decoration: none;
}
a:hover{
	color: #d63031;
}

.btn{
	padding: 1%;
	border: none;
	font-size: 1rem;
	border-radius: 5px;
}

.btn-primary{
	background-color: #ff7675;
	color: white;
	cursor: pointer;
}

.btn-primary:hover{
	background-color: #d63031;
	color: white;
}

.menu{
	line-height: 60px;

}

.menu ul{
	list-style-type: none;
}

.menu ul li{
	display: inline;
	padding: 1%;
	font-weight: bold;
}

h2{
	color: #636e72;
	font-size: 2rem;
}

h3{
	font-size: 1.5rem;
}

.float-container{
	position: relative;
}

.float-text{
	position: absolute;
	bottom: 50px;
	left: 40%;
}
/* End CSS for All */

/*CSS for Categories*/
.categories{
	padding: 4% 0;
}

.box-3{
	border: 1px solid black;
	width: 28%;
	float: left;
	margin: 2%;
}
/*End CSS for Categories*/